* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: "Amatic-regular";
  src: url("../assets/Fonts/AmaticSC-Regular.ttf") format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: "Amatic-bold";
  src: url("../assets/Fonts/Amatic-Bold.ttf") format("truetype");
  font-weight: bold;
}
html,
body {
  overflow-x: hidden;
  font-family: "Amatic-regular";
}

.App {
  text-align: center;
  color: white;
}

.overlay {
  opacity: 0.85;
  width: 100%;
  height: 100%;
  z-index: 10;
  top: 0;
  left: 0;
  position: fixed;
}

.moving-background {
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("../assets/background/parallax-bg.gif");
  background-size: cover;
  background-repeat: none;
  background-attachment: fixed;
  background-position: 40% 40%;
}
